


.homepage-container {
    background-image: url(../../images/iteration-1-images/home-banner.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.homepage-title {
    color: #FFFFFF;
    margin-top: 0;
    font-weight: bold;
    font-family: "Londrina Solid", sans-serif;
    font-size: 5rem;
}

.homepage-text {
    color: #FFFFFF;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 20px 0;
    font-size: 2.5rem;
}

.homepage-button {
    text-decoration: none;
    border-radius: 40px;
    background-color: #FDC913;
    padding: 10px 40px;
    margin: 20px 0;
    font-family: "Barlow";
    font-size: 1.5rem;
    color: #292929;
    text-align: center;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .homepage-container{
       background-size: cover;
    }
    .homepage-title {
        font-size: 1.2rem; 
        margin-top: 5px;
    }

    .homepage-text {
        font-size: 1.2rem; 
        margin: 15px 0;
    }

    .homepage-button {
        padding: 8px 30px; 
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 480px) {
    .homepage-container{
        background-size: cover;
     }

    .homepage-title {
        font-size: 2.5rem; 
    }

    .homepage-text {
        font-size: 1rem; 
    }

    .homepage-button {
        padding: 6px 20px; 
        font-size: 0.8rem;
    }
}